.navbar{
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: white;
  }

  .navbar-inner{

    width: 1200px;
    margin: 0px auto 0px auto;
    height: 60px;
    overflow: hidden;
    background-color: white;
  }
.navbar-col1{
    width: 26%;
    float: left;
    text-align: center;
    height: 50%;
    margin-top: 1%;
    background-color:white;
  }
  
  .navbar-col2{
    width: 44%;
    margin-left: 2%;
    float: left;
    height: 100%;
    background-color:white;
  }
  .navbar-col3{
    width: 26%;
  
    float: right;
    height: 100%;
    background-color:white;
  }

  .navbar-button{
      float: left;
      text-align: center;
  }
  
  
  