<div class="card mt-4 text-center">
  <div class="card-body">
    <h4 class="card-title">Something Went Wrong :(</h4>
    <img src="/images/error.png" alt="Error">
    <button href="/users/login">Home</button>
</div>
