<div id="content" class="col-sm-8 col-md-6 col-lg-6">
    <% if(otherUser) { %>
      <div class="box">
        <div class=" header-font">
          <%= otherUser.userName %>
            <div class="col-sm-2">
              <% if(following) { %>
                <form method="POST" action="<%= `/${otherUser.email}?_method=PUT` %>">
                  <button type="submit" class="btn button btnLogin unfollow">Unfollow</button>
                </form>
                <% } else { %>
                  <form method="POST" action="<%= `/${otherUser.email}?_method=PUT` %>">
                    <button type="submit" class="btn button btnLogin following">Follow</button>
                  </form>
                  <% } %>
                </div>
          </div>
          
      </div>
      <%}%>
      
  
  