<div class="data-form">
    <form class="form-signin" action="<%=`/tweet/create`%>" method="POST">
      <h2 class="form-signin-heading">What's Happening?</h2>
      <label for="inputTitle">Title</label>
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" autofocus>
      <label for="inputDescription">Post</label>
      <input type="textarea" rows="5" name="description" id="inputDescription" class="form-control" placeholder="Description">
      <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Tweet</button>
    </form>
  </div>