body {
  margin: 0em;
}

img {
  width: 70px;
  border-radius: 50%;
}

button {
  color: #fff;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 5px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.border-col4 {
  background-color: rgb(232,232,232);
 display: inline-block;
  width: 50%;
  margin: .5%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Fjalla One", sans-serif;
}
.time{
  color: rgb(200, 200, 200);
}
.ref_username{
  color: rgb(200, 200, 200);
}

.logo{
    width: 70px;
    border-radius: 50%;
}
.container {
  padding: 0% 10%;
}
#nav {
  width: 100%;
  height: 110px;
  padding: 20px 0 5px 0;
  border-bottom: solid 8px #ee3114;
  box-shadow: 10px 10px 10px #ccc;
  position: absolute;
  top: 0;
}
#title {
  color: #625a56;
  margin: 0;
  font-family: "Baloo Bhaina";
  text-transform: uppercase;
}
.list-container {
  padding: 0 20px;
  border: 3px solid #ffb568;
  border-radius: 1px;
}
.signup-form input {
  display: block;
  margin: 5px;
}

.data-form {
  max-width: 600px;
  margin: 0 auto;
}

.data-form label {
  margin: 5px 0 0 0;
}

.hidden-text {
  -webkit-text-security: disc;
}
.item-label {
  font-weight: 600;
  font-style: italic;
  margin-right: 5px;
}
