/* CSS files add styling rules to your content */

body {
  margin: 0em;
}

img {
  width: 70px;
  border-radius: 10%;
}

button {
  color: #fff;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.border-col4 {
  background-color: rgb(232,232,232);
 display: inline-block;
  width: 50%;
  margin: .5%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Fjalla One", sans-serif;
}
.time{
  color: rgb(200, 200, 200);
}
.ref_username{
  color: rgb(200, 200, 200);
}


