<div class="center container" style="margin-top: 100px !important">
  <h2 class="text-center">Who to Follow:</h2>
  <table class="table ">
    <thead>
      <tr>
        <th>Name</th>
        <th>User Name</th>
        <th>Follow</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user=> { %>
        <tr>
          <td>
            <a href="<%=`/users/${user._id}`%>">
              <%= user.fullName %>
            </a>
          </td>
          <td>
            @<%= user.userName %>
          </td>
          <td>
            <a href="<%=`/follow`%>">
              Follow
            </a>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>